__ignore__/*

catkin_ws/build/*
catkin_ws/devel/*

catkin_ws/src/vision/src/human_detection/models/people/yolov3.weights

catkin_ws/src/manipulation/object_detector/models
catkin_ws/src/manipulation/object_detector/resources