[submodule "catkin_ws/src/hsr_description"]
	path = catkin_ws/src/hsr_description
	url = https://github.com/RoBorregos/hsr_description.git

[submodule "catkin_ws/src/handyman-ros"]
	path = catkin_ws/src/handyman-ros
	url = https://github.com/RoboCupatHomeSim/handyman-ros.git

[submodule "catkin_ws/src/sigverse_ros_package"]
	path = catkin_ws/src/sigverse_ros_package
	url = https://github.com/SIGVerse/sigverse_ros_package.git

[submodule "common-unity"]
	path = common-unity
	url = https://github.com/RoboCupatHomeSim/common-unity.git

[submodule "handyman-unity"]
	path = handyman-unity
	url = https://github.com/RoboCupatHomeSim/handyman-unity.git
[submodule "catkin_ws/src/hsr_meshes"]
	path = catkin_ws/src/hsr_meshes
	url = https://github.com/ToyotaResearchInstitute/hsr_meshes.git
[submodule "catkin_ws/src/manipulation/gpd_ros"]
	path = catkin_ws/src/manipulation/gpd_ros
	url = https://github.com/atenpas/gpd_ros.git
[submodule "lib/gpd"]
	path = lib/gpd
	url = https://github.com/atenpas/gpd.git
[submodule "catkin_ws/src/bio_ik"]
	path = catkin_ws/src/bio_ik
	url = https://github.com/TAMS-Group/bio_ik.git
