<launch>
  <!-- Run the map server --> 
  <arg name="map_file" default="$(find nav_main)/maps/Layout2020HM01.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  <rosparam file="$(arg map_file)" command="load" ns="map" />

  <arg name="initial_pose_x" default="0.0"/> 
  <arg name="initial_pose_y" default="0.0"/> 
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find nav_main)/include/imu/amcl.launch.xml">
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>
  <include file="$(find nav_main)/include/imu/teb_move_base.launch"/>
</launch>